<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="parth.mfa_fingerprint">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- Activity -->
        <activity android:name=".activities.FactorActivity" />
        <!-- Activity -->
        <activity
            android:name=".activities.FingerprintActivity"
            android:parentActivityName=".activities.FactorActivity" />
        <!-- Actvitiy -->
        <activity
            android:name=".activities.AuthenticationLogActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PasswordActivity" />
        <activity android:name=".activities.SensorActivity" />
        <activity android:name=".activities.QrActivity"/>
    </application>

</manifest>